table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 3px;
    cursor: grab;
}

table * {
    padding: 3px
}

.tleft {
    width: 50%;
    text-align: left;
}

.tmid {
    width: 30%;
}

.tright {
    width: 20%;
    text-align: right;
}