<app-form-card nextStep="teilnehmer_in" [nextDisabled]="form.invalid">
  <fieldset [formGroup]="form">
    <h1>Angaben zum Kurs</h1>
    <div class="form-group">
      <label for="course">Kurs</label>
      <select
        id="course"
        formControlName="course"
        class="form-control"
        oninput="this.value = this.value.toUpperCase();"
        required
      >
        @if (courses$ | async; as courses) {
          @for (course of courses; track course.id) {
            <option [value]="course.id">
              @if (course.number) {
                {{ course.number }} &ndash;
              }
              {{ course.name }}
            </option>
          }
        } @else {
          <option [value]="null" disabled selected>
            Kurse werden geladen...
          </option>
        }
      </select>
      @if (course.hasError('required') && course.touched) {
        <div class="error-message">Bitte wähle einen Kurs aus.</div>
      }
      @if (selected$ | async; as selected) {
        <table>
          @if (selected.number) {
            <tr>
              <th>Kursnummer</th>
              <td>{{ selected.number }}</td>
            </tr>
          }
          <tr>
            <th>Kursname</th>
            <td>{{ selected.name }}</td>
          </tr>
          <tr>
            <th>Beginn</th>
            <td>{{ selected.startDate | date }}</td>
          </tr>
          <tr>
            <th>Ende</th>
            <td>{{ selected.endDate | date }}</td>
          </tr>
          <tr>
            <th>Ort</th>
            <td>{{ selected.location }}</td>
          </tr>
        </table>
      }
    </div>
  </fieldset>
</app-form-card>
