<footer>
    <div class="footer-container">
        <div class="footer-content">
            <nav class="footer-nav">
                <ul class="footer-links">
                    <li><a href="https://jdav-bayern.de" target="_blank">Homepage</a></li>
                    <li><a href="https://jdav-bayern.de/schulungen" target="_blank">Schulungen</a></li>
                    <li><a routerLink="/impressum">Impressum</a></li>
                    <li><a routerLink="/datenschutz">Datenschutz</a></li>
                </ul>
                <ul class="footer-icons">
                    <li>
                        <a href="https://instagram.com/jdavbayern" target="_blank" aria-label="Instagram">
                            <app-instagram-icon aria-hidden="true"></app-instagram-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung" target="_blank" aria-label="GitHub">
                            <app-github-icon aria-hidden="true"></app-github-icon>
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="branding" routerLink="/">
                <app-logo aria-hidden="true"></app-logo>
                <h1>JDAV Bayern</h1>
            </a>
        </div>
        <p class="contact-info">
            Preysingstr. 71, 81667 München<br>
            lgs@jdav-bayern.de<br>
            +49 89 44900195
        </p>
    </div>
</footer>