<footer>
    <div>
        <div class="footer-content">
            <h3>Jugend des Deutschen Alpenvereins<br>
                Landesverband Bayern e.V.</h3>
        </div>
        <div class="footer-content">
            Landesgeschäftsstelle Bayern<br>
            Preysingstr. 71<br>
            81667 München
        </div>
        <div class="footer-content">
            Telefon: 089 - 44 90 01 95<br>
            Fax: 089 - 44 90 01 99<br>
            E-Mail: lgs@jdav-bayern.de
        </div>
    </div>
    <div class="copyright">
        Made with &#10084;&#65039; by Joseph and Simon, feel free to &nbsp;<a
            href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung">contribute</a>.

    </div>
</footer>