footer {
  background-color: var(--color-footer);
  color: #fff;
  flex-basis: content;
}

a {
  color: #fff;
  text-decoration: none;
}

.footer-container {
  padding: 2.5rem 1rem;
}

.contact-info {
  text-align: center;
}

.contact-info h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.contact-info p {
  font-size: 0.875rem;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.footer-links {
  flex-direction: column;
}

.footer-links li {
  margin: 0.5rem 1.75rem;
}

.footer-icons li {
  margin: 0 1rem;
}

@media (min-width: 640px) {
  .footer-container {
    max-width: 640px;
    margin: auto;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .contact-info {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    max-width: 1200px;
  }
  .footer-content {
    justify-content: space-between;
  }
  .footer-nav {
    display: flex;
  }
  .footer-links {
    flex-direction: row;
  }
}
