table {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: var(--bg-gray);
}

td {
  padding: 0.5rem 1rem;
}

td:last-child {
  text-align: right;
}

.explanation {
  font-style: italic;
}

.important {
  font-weight: bold;
}
