<form [formGroup]="form" (ngSubmit)="submitForm()" class="model-content">
  <h2 class="typography">
    {{ mode.value ? (mode.value | transportMode) : 'Fahrtkosten' }} erfassen
  </h2>

  @if (mode.invalid) {
    <div class="means-of-travel-buttons-container">
      @for (modeOption of allowedModes(); track modeOption) {
        <button
          type="button"
          class="jdav-btn secondary icon"
          (click)="chooseExpense(modeOption)"
        >
          <span class="material-symbols-outlined">
            @switch (modeOption) {
              @case ('car') {
                directions_car
              }
              @case ('public') {
                train
              }
              @case ('bike') {
                pedal_bike
              }
              @case ('plan') {
                transit_ticket
              }
            }
          </span>
          {{ modeOption | transportMode }}
        </button>
      }
    </div>
  } @else {
    <div class="form-group">
      <label for="origin">Von</label>
      <input
        type="text"
        id="origin"
        formControlName="origin"
        class="form-control"
        required
      />
      @if (origin.hasError('required') && origin.touched) {
        <div class="error-message">Bitte gib einen Startort ein.</div>
      }
    </div>

    <div class="form-group">
      <label for="destination">Nach</label>
      <input
        type="text"
        id="destination"
        formControlName="destination"
        class="form-control"
        required
      />
      @if (destination.hasError('required') && destination.touched) {
        <div class="error-message">Bitte gib einen Zielort ein.</div>
      }
    </div>

    <!-- car and bike expenses -->
    @if (distance.enabled) {
      <div class="form-group">
        <label for="distance">Strecke (km)</label>
        <input
          type="number"
          class="form-control"
          formControlName="distance"
          id="distance"
          placeholder="Strecke in Kilometern"
        />
        @if (distance.hasError('required') && distance.touched) {
          <div class="error-message">Bitte gib die Distanz ein.</div>
        }
        @if (distance.hasError('min')) {
          <div class="error-message">Bitte gib eine gültige Distanz ein.</div>
        }
      </div>
    }

    <!-- public transport expenses -->
    @if (ticket.enabled) {
      <fieldset [formGroup]="ticket">
        <div class="form-group">
          <label for="price">Ticketpreis (ermäßigt)</label>
          <input
            type="number"
            id="price"
            formControlName="price"
            class="form-control"
            required
          />
          @if (
            ticket.controls.price.hasError('required') &&
            ticket.controls.price.touched
          ) {
            <div class="error-message">Bitte gib einen Preis ein.</div>
          }
          @if (ticket.controls.price.hasError('min')) {
            <div class="error-message">Bitte gib einen gültigen Preis ein.</div>
          }
        </div>

        <div class="form-group">
          <label for="discount">BahnCard</label>
          <select
            id="discount"
            formControlName="discount"
            class="form-control"
            required
          >
            <option value="none">Keine BahnCard</option>
            <option value="BC25">BahnCard 25</option>
            <option value="BC50">BahnCard 50</option>
          </select>
          @if (
            ticket.controls.discount.hasError('required') &&
            ticket.controls.discount.touched
          ) {
            <div class="error-message">Bitte wähle deine BahnCard aus.</div>
          }
        </div>
      </fieldset>
    }

    <!-- car expenses -->
    @if (carTrip.enabled) {
      <fieldset [formGroup]="carTrip">
        <div class="form-group">
          <label for="engineType">Auto Typ</label>
          <select
            id="engineType"
            formControlName="engineType"
            class="form-control"
            required
          >
            <option value="combustion">Verbrenner</option>
            <option value="plug-in-hybrid">Plug-in Hybrid</option>
            <option value="electric">Elektro</option>
          </select>
          @if (
            carTrip.controls.engineType.hasError('required') &&
            carTrip.controls.engineType.touched
          ) {
            <div class="error-message">
              Bitte wähle den Typ deines Autos aus.
            </div>
          }
        </div>

        <div class="form-group">
          <fieldset>
            <legend>Mitfahrer*innen</legend>
            <p class="typography">
              <b>Hinweis:</b> Bist Du Teile der Strecke mit unterschiedlicher
              Anzahl an Mitfahrer*innen gefahren? Dann gib bitte jede
              Teilstrecke als einzelne Auslage an.
            </p>

            @for (
              passenger of carTrip.controls.passengers.controls;
              track passenger
            ) {
              <div class="passengers-item" formArrayName="passengers">
                <button
                  type="button"
                  class="jdav-btn tertiary icon"
                  (click)="removePassenger($index)"
                >
                  <span class="material-symbols-outlined">delete</span>
                </button>
                <input
                  #passengerInput
                  aria-label="Mitfahrer*in"
                  class="form-control not-filled"
                  [formControl]="passenger"
                />
                @if (passenger.hasError('required') && passenger.touched) {
                  <span class="error-message">
                    Bitte gib einen Namen für deine*n Mitfahrer*in an
                  </span>
                }
              </div>
            }

            <button
              type="button"
              class="jdav-btn add-passenger tertiary icon"
              (click)="addPassenger()"
            >
              <span class="material-symbols-outlined">add</span>
              Mitfahrer*in hinzufügen
            </button>
          </fieldset>
        </div>
      </fieldset>
    }

    <div class="button-container">
      <button type="submit" [disabled]="!form.valid" class="jdav-btn">
        Speichern
      </button>
    </div>
  }
</form>
