@let exp = expense();
@switch (exp.type) {
  @case ('transport') {
    @switch (exp.mode) {
      @case ('car') {
        {{ exp.distance | number: '1.0-0' }} km,
        {{ exp.carType | carType }}
        @if (exp.passengers.length > 0) {
          &ndash; {{ exp.passengers.length }} Mitfahrer*innen:
          {{ exp.passengers | join }}
        }
      }

      @case ('train') {
        @if (exp.discountCard !== 'none') {
          {{ exp.price | currency }} mit
        }
        {{ exp.discountCard | discountCard }}
      }

      @case ('plan') {
        pauschal {{ 12.25 | currency }}
      }

      @case ('bike') {
        {{ exp.distance | number: '1.0-0' }} km
      }
    }
  }

  @case ('food') {
    @if (exp.meals.length > 0) {
      Abzüglich {{ exp.meals | meals | join }}
    } @else {
      Ohne Abzüge
    }
  }

  @case ('material') {}
}
