@switch (expense.type) {
  @case ('transport') {
    @switch (expense.mode) {
      @case ('car') {
        {{ expense.distance | number: '1.0-0' }} km,
        {{ expense.carType | carType }}
        @if (expense.passengers.length > 0) {
          &ndash; {{ expense.passengers.length }} Mitfahrer*innen:
          {{ expense.passengers | join }}
        }
      }

      @case ('train') {
        @if (expense.discountCard !== 'none') {
          {{ expense.price | currency }} mit
        }
        {{ expense.discountCard | discountCard }}
      }

      @case ('plan') {
        pauschal {{ 12.25 | currency }}
      }

      @case ('bike') {
        {{ expense.distance | number: '1.0-0' }} km
      }
    }
  }

  @case ('food') {
    @if (expense.meals.length > 0) {
      Abzüglich {{ expense.meals | meals | join }}
    } @else {
      Ohne Abzüge
    }
  }

  @case ('material') {}
}
