@let exp = expense();
@switch (exp.type) {
  @case ('transport') {
    @switch (exp.mode) {
      @case ('car') {
        {{ exp.distance | number: '1.0-0' }} km,
        {{ exp.carTrip.engineType | engineType }}
        @if (exp.carTrip.passengers.length > 0) {
          &ndash; {{ exp.carTrip.passengers.length }} Mitfahrer*innen:
          {{ exp.carTrip.passengers | join }}
        }
      }

      @case ('public') {
        @if (exp.ticket.discount !== 'none') {
          {{ exp.ticket.price | currency }} mit
        }
        {{ exp.ticket.discount | discount }}
      }

      @case ('plan') {
        pauschal {{ 12.25 | currency }}
      }

      @case ('bike') {
        {{ exp.distance | number: '1.0-0' }} km
      }
    }
  }

  @case ('food') {
    @if (exp.breakfast || exp.lunch || exp.dinner) {
      Abzüglich {{ exp | meals | join }}
    } @else {
      Ohne Abzüge
    }
  }

  @case ('material') {}
}
