<div id="jdav-pdf-content" class="pdf-content typography">
  <h1>
    Fahrtkostenabrechnung
    {{ meeting.type === 'committee' ? 'Gremium' : 'Kurs' }}
  </h1>
  <p>
    <b>Datum: {{ now | date }}</b>
  </p>
  <img
    class="logo"
    src="logo-jdav-bayern-classic.png"
    alt="Logo der JDAV Bayern"
    (load)="onLogoLoaded()"
  />
  <p style="width: 312px">
    Diese Fahrtkostenabrechnung wurde automatisch erstellt. Bitte die generierte
    PDF per E-Mail an lgs&#64;jdav-bayern.de oder ausgedruckt in die
    Landesgeschäftsstelle, Preysingstr. 71, 81667 München schicken.
  </p>

  <div class="info">
    @if (meeting.type === 'course') {
      <div>
        <h2>Kursdaten</h2>
        <table class="detailstable">
          <tr>
            <td>Kurs:</td>
            <td>{{ meeting.name }}</td>
          </tr>
          <tr>
            <td>Kursnummer:</td>
            <td>{{ meeting.code }}</td>
          </tr>
        </table>
      </div>
    }
    @if (meeting.type === 'committee') {
      <div>
        <h2>Reisedaten</h2>
        <table class="detailstable">
          <tr>
            <td>Zweck:</td>
            <td>{{ meeting.name }}</td>
          </tr>
          <tr>
            <td>Ort:</td>
            <td>{{ meeting.location }}</td>
          </tr>
          <tr>
            <td>Beginn:</td>
            <td>{{ meeting.time.start | date: 'short' }}</td>
          </tr>
          <tr>
            <td>Ende:</td>
            <td>{{ meeting.time.end | date: 'short' }}</td>
          </tr>
        </table>
      </div>
    }
    <div>
      <h2>Teilnehmer*innendaten</h2>
      <table class="detailstable">
        <tr>
          <td>Name:</td>
          <td>{{ participant.givenName }} {{ participant.familyName }}</td>
        </tr>
        <tr>
          <td>Sektion:</td>
          <td>{{ section?.name }} (JDAV {{ section?.jdavState?.name }})</td>
        </tr>
        <tr>
          <td>Wohnort:</td>
          <td>{{ participant.zipCode }} {{ participant.city }}</td>
        </tr>
        <tr>
          <td>IBAN:</td>
          <td>{{ participant.iban }}</td>
        </tr>
        @if (participant.bic?.length) {
          <tr>
            <td>BIC:</td>
            <td>{{ participant.bic }}</td>
          </tr>
        }
      </table>
    </div>
  </div>

  @if (reimbursement().note !== '') {
    <p><b>Bemerkung:</b></p>
    @for (line of reimbursement().note.split('\n'); track line) {
      <p>{{ line }}</p>
    }
  }

  <h2>Abrechnungspositionen</h2>

  <table class="expenses">
    <colgroup>
      <col style="width: 20px" />
      <col style="width: 155px" />
      <col style="width: auto" />
      <col style="width: 40px" />
    </colgroup>

    <thead>
      <tr>
        <th scope="row" colspan="3" class="category-header">
          Erstattungsbetrag
        </th>
        <th scope="row" class="align-right">{{ report.total | currency }}</th>
      </tr>
    </thead>
    @if (report.categories.transport) {
      <tbody>
        <tr>
          <th scope="rowgroup" colspan="3" class="category-header">
            Fahrtkosten
          </th>
          <th scope="rowgroup" class="align-right">
            {{ report.categories.transport | currency }}
          </th>
        </tr>
        @for (direction of directions; track direction) {
          <tr>
            <td></td>
            <td colspan="3" class="category-header">
              {{ direction | direction }}
            </td>
          </tr>
          @for (
            expense of reimbursement().expenses.transport[direction];
            track expense
          ) {
            <tr>
              <td class="align-right">
                <p>von</p>
                <p>nach</p>
              </td>
              <th scope="row">
                <p>{{ expense.origin }}</p>
                <p>{{ expense.destination }}</p>
              </th>
              <td>
                <p>
                  <b>{{ expense | expenseTitle }}</b>
                </p>
                <p class="details">
                  <app-expense-details [expense]="expense" />
                </p>
              </td>
              <td class="align-right">
                {{ expense | expenseAmount | currency }}
              </td>
            </tr>
          }
        }
      </tbody>
    }

    @if (report.categories.food) {
      <tbody>
        <tr>
          <th scope="col" colspan="3" class="category-header">Tagegeld</th>
          <th scope="col" class="align-right">
            {{ report.categories.food | currency }}
          </th>
        </tr>
        @for (expense of reimbursement().expenses.food; track expense) {
          <tr>
            <th scope="row" colspan="2">
              {{ expense.date | date }}
            </th>
            <td>
              <p>
                <b>{{ expense | expenseTitle }}</b>
              </p>
              <p class="details">
                <app-expense-details [expense]="expense" />
              </p>
            </td>
            <td class="align-right">
              {{ expense | expenseAmount | currency }}
            </td>
          </tr>
        }
      </tbody>
    }

    @if (report.categories.material) {
      <tbody>
        <tr>
          <th scope="col" colspan="3" class="category-header">
            Sonstige Auslagen
          </th>
          <th scope="col" class="align-right">
            {{ report.categories.material | currency }}
          </th>
        </tr>
        @for (expense of reimbursement().expenses.material; track expense) {
          <tr>
            <th scope="row" colspan="2">
              {{ expense.date | date }}
            </th>
            <td>
              <p>
                <b>{{ expense | expenseTitle }}</b>
              </p>
              <p class="details">
                <app-expense-details [expense]="expense" />
              </p>
            </td>
            <td class="align-right">
              {{ expense | expenseAmount | currency }}
            </td>
          </tr>
        }
      </tbody>
    }
  </table>
</div>
