.form-card {
  overflow: auto;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.button-container button:last-child {
  margin-left: auto;
}
