<div class="mt-4 ml-auto mr-auto max-w-[1000px]">
  <div class="typography">
    <h2>
      Wenn du das hier gefunden hast ohne dass es Dir jemand gezeigt hat, geh
      weiter. <br />Hier ist nichts zu sehen, wirklich ;)
    </h2>
    <h4>Etwas mehr Info</h4>
    <p>
      Hier ist wirklich nichts zu sehen: Wir benutzen diese Seite intern um
      Excel files für die Jugendleitermarkenbestellung zu erzeugen. Dabei werden
      die Daten aller Jugendleitenden aus unseren (leider noch mannigfaltigen)
      Systemen zusammengeführt und in einer Excel Liste pro Sektion ausgegeben.
      Diese Excel liste wird dann an die Jugendreferent*innen der jeweiligen
      Sektionen geschickt, die dann die Bestellung der Marken vornehmen können.
      Die Datenverarbeitung erfolgt ausschließlich im Browser, es werden keine
      Daten an unseren Server geschickt.
    </p>
    <p>
      Wenn du Interesse an dem Quellcode hast, findest du ihn auf
      <a href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung">GitHub</a>.
    </p>
  </div>
  <div class="typography">
    <h2>
      Schritt 1: Hier können die Dateien aus den Quellsystemen eingelesen werden
    </h2>
    <p>
      In der excel Liste, die an eine Sektion geschickt wird, sind informationen
      zu jeder Jugendleiter*in enthalten. Mit diesem Tool können wir Excel
      Dateien und CSV Dateien aus verschiedenen Quellen zusammenführen und dann
      wieder nach Sektion geordnet in neue Excel Dateien schreiben.
    </p>
    <p>
      <b>MV-Manager:</b>
      Die Stammdaten und auch die Sektionszuordnung kommen aus dem mv-manager.
      In dieser Datei muss jede Jugendleiter*in, die am Ende auf einer Liste
      landet <b>genau einmal</b> auftauchen. Diese Datei muss die Spalten
      "Vorname", "Nachname", "Geburtsdatum" und "Sektion" enthalten um die
      Jugendleiter*innen eindeutig zuordnen zu können. Sie kann weitere Spalten
      enthalten.
    </p>
    <p>
      <b>Weitere Dateien</b>
      Informationen über die Jugendleiter*innen, wie beispielsweise Schulungen,
      die am Ende auch in die Excel Dateien wandern sollen sind oft in anderen
      Systemen gespeichert. Bei uns sind das insbesondere Navision und der
      KV-Manager. Es können hier beliebig viele weitere Dateien zum
      zusammenführen ausgewählt werden. Auch diese Dateien müssen die Spalten
      "Vorname", "Nachname", "Geburtsdatum" und "Sektion" mit genau dieser
      Bezeichnung enthalten um die Jugendleiter*innen zuordnen zu können.
      Weitere Spalten können frei hinzugefügt werden. In diesen Dateien dürfen
      Jugendleiter*innen <b>mehrfach vorkommen.</b>
    </p>
    <div>
      <div class="flex flex-row items-center">
        <label class="min-w-35" for="mvManager">MV Manager</label>
        <input
          type="file"
          id="mvManager"
          (change)="onMvManagerFileSelected($event)"
          accept=".xlsx, .xls, .csv"
          class="form-control mx-5"
        />
        <div class="min-w-75 max-w-75">
          {{ mvStatus() }}
        </div>
      </div>
      <div class="flex flex-row items-center">
        <label class="min-w-35" for="kvManager">Zusätzliche Dateien</label>
        <input
          type="file"
          multiple
          id="kvManager"
          (change)="onAdditionalFilesSelected($event)"
          accept=".xlsx, .xls, .csv"
          class="form-control mx-5"
        />
        <div class="min-w-75 max-w-75">
          @for (status of additionalFilesStatus(); track status) {
            {{ status }} <br />
          }
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5" />
  <div class="typography">
    @if (mvResult() === null) {
      Bitte lade mindestens die Daten aus dem mv manager hoch um fortzufahren.
    } @else {
      <h2>
        Schritt 2: Spalten auswählen, die in den einzelnen Excel Dateien
        enthalten sein sollen
      </h2>
      <p>
        Im folgenden können diejenigen Spalten aus den verschiedenen
        hochgeladenen Dateien ausgewählt werden, die später in den
        Sektions-Excel-Dateien aufgelistet werden sollen. Auch zusätzliche
        Spalten in der Datei aus dem MV manager können ausgewählt werden
        (zuletzt relevant für die Information ob im letzten Jahr eine Marke
        vergeben wurde oder nicht). Die Überschrift die im Ergebnis auftaucht
        kann mit dem jeweiligen Textfeld auf der rechten Seite überschrieben
        werden. Sollte es sich bei den Daten in der Spalte um ein Datum handeln,
        muss die Checkbox für "Datum" aktiviert werden, da die Daten aus Excel
        Dateien sonst als Zahl interpretiert werden.
      </p>
      <p>
        <b>Beispiel:</b> Ich möchte für Jugendleiter*innen Informationen über
        Schulungen, die sie im LV Bayern gemacht haben hinzufügen. Neben dem
        MV-Manager habe ich eine Datei, die aus dem KV-Manager exportiert wurde
        ausgewählt. In dieser Datei mit dem Namen "kv-manager.csv" gibt es die
        Spalte "KursNr" und "Bezeichnung". Ich möchte, dass lediglich die
        Bezeichnung in die Ergebnis Excel Dateien geschrieben wird mit dem Namen
        "Schulung 2025 in Bayern". Dann markiere ich in der Liste unten die
        Checkbox "hinzufügen" in der Zeile "kv-manager.csv: Bezeichnung" und
        trage den neuen Namen der Spalte weiter rechts in dieser Zeile ein.
      </p>
      <p>
        Unten können die ersten zehn Beispiele zur Kontrolle angesehen werden.
      </p>
      <form>
        @for (column of additionalColumns(); track column.id()) {
          <div class="flex flex-row items-center mb-2">
            <p class="min-w-75">{{ column.file }}: {{ column.name }}</p>
            <input
              type="checkbox"
              id="include-{{ column.id() }}"
              name="includeColumns"
              class="mx-2"
              (change)="updateMergedResult()"
            />
            <label for="include-{{ column.id() }}" class="mr-3"
              >hinzufügen</label
            >
            <input
              type="checkbox"
              id="date-{{ column.id() }}"
              name="includeColumns"
              class="mx-2"
              (change)="updateMergedResult()"
            />
            <label for="date-{{ column.id() }}" class="mr-3">Datum</label>
            <input
              type="text"
              id="rename-{{ column.id() }}"
              name="renameColumns"
              [placeholder]="'Neuer Name für ' + column.name"
              class="form-control"
              (change)="updateMergedResult()"
            />
          </div>
        }
      </form>
    }
  </div>
  @if (mergedResult() !== null) {
    <hr class="my-5" />
    <div class="typography mb-5">
      <h2>Schritt 3: Ergebnis überprüfen und herunterladen</h2>
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
          <tr>
            @for (key of mergedResult()?.keys || []; track key) {
              <th
                class="py-2 px-4 bg-gray-100 border-b border-gray-200 text-left"
              >
                {{ key }}
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (
            record of (mergedResult()?.records || []).slice(0, 100);
            track record
          ) {
            <tr class="border-b border-gray-200 hover:bg-gray-50">
              @for (key of mergedResult()?.keys || []; track key) {
                <td class="py-2 px-4">{{ record[key] }}</td>
              }
            </tr>
          }
        </tbody>
      </table>
      <button class="jdav-btn mt-4" (click)="downloadExcels()">
        Excel Dateien Speichern
      </button>
    </div>
  }
</div>
