<div class="step-box">
  <fieldset [formGroup]="form">
    <h2>Kontodaten</h2>

    <div class="form-group">
      <label for="iban">IBAN</label>
      <input
        type="text"
        class="form-control"
        formControlName="iban"
        id="iban"
        placeholder="IBAN"
      />
      <div *ngIf="iban.invalid && iban.touched" class="error-message">
        Bitte gib eine gültige IBAN ein.
      </div>
    </div>
    <div
      class="form-group"
      *ngIf="!iban.value.startsWith('DE') && iban.touched"
    >
      <label for="bic">
        BIC (nur bei ausländischen Kreditinstituten notwendig)
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="bic"
        id="bic"
        placeholder="BIC"
      />
    </div>
    <div class="form-group">
      <label for="note">Bemerkung zu deiner Abrechnung</label>
      <textarea
        class="form-control textarea"
        rows="4"
        formControlName="note"
        id="note"
        placeholder="Bemerkung"
      ></textarea>
    </div>
  </fieldset>

  <h2>Zusammenfassung</h2>
  Erstattungsbetrag: {{ getSum().toFixed(2) }}€<br />
  <p *ngFor="let error of getErrors()"><b>Fehler</b> {{ error }}</p>
  <p *ngFor="let warning of getWarnings()"><b>Warnung</b> {{ warning }}</p>
  <p *ngFor="let info of getInfos()"><b>Info</b> {{ info }}</p>

  <h2>Belege</h2>
  <ngx-file-drop (onFileDrop)="fileDropped($event)" [accept]="'.pdf,.jpg,.png'">
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
    >
      <button type="button" class="fileupload" (click)="openFileSelector()">
        <span class="material-symbols-outlined">&#xe9fc;</span>
        Beleg hinzufügen
      </button>
    </ng-template>
  </ngx-file-drop>

  <fieldset *ngIf="files.length" class="files-list">
    <legend style="color: #999">Belege</legend>
    <p class="file-list-entry" *ngFor="let file of files">
      <span
        style="cursor: pointer"
        class="material-symbols-outlined"
        (click)="removeFile(file.name)"
        >&#xf74f;</span
      >{{ file.name }}
    </p>
  </fieldset>
</div>

<div class="button-container">
  <div class="left-button-container">
    <button (click)="back()" class="gray-button">Zurück</button>
  </div>
  <div class="right-button-container">
    <app-progress-indicator *ngIf="loading"></app-progress-indicator>
    <button
      (click)="continue()"
      *ngIf="!loading"
      [class.green-button]="isReimbursementValid()"
      [class.disabled-button]="!isReimbursementValid()"
    >
      PDF herunterladen
    </button>
  </div>
</div>

<div style="position: absolute; top: 2000px">
  <app-pdf-view
    *ngIf="showPdf"
    [reimbursement]="r()"
    (fullyRendered)="pdfFullyRendered()"
  ></app-pdf-view>
</div>
