<div class="step-box">
  <fieldset [formGroup]="form">
    <h2>Kontodaten</h2>

    <div class="form-group">
      <label for="iban">IBAN</label>
      <input
        type="text"
        class="form-control"
        formControlName="iban"
        id="iban"
        required
      />
      <div
        *ngIf="iban.hasError('required') && iban.touched"
        class="error-message"
      >
        Bitte gib deine IBAN ein.
      </div>
      <div
        *ngIf="iban.hasError('ibanInvalid') && iban.touched"
        class="error-message"
      >
        Bitte gib eine gültige IBAN ein.
      </div>
    </div>

    <div
      class="form-group"
      *ngIf="(iban.valid && isBICRequired()) || bic.value"
    >
      <label for="bic">BIC</label>
      <input type="text" class="form-control" formControlName="bic" id="bic" />
      <div
        *ngIf="form.hasError('bicRequired') && bic.touched"
        class="error-message"
      >
        Bitte gib bei ausländischen Konten deine BIC ein.
      </div>
      <div *ngIf="bic.hasError('pattern') && bic.touched" class="error-message">
        Bitte gib eine gültige BIC ein.
      </div>
    </div>

    <div class="form-group">
      <label for="note">Bemerkung zu deiner Abrechnung</label>
      <textarea
        class="form-control textarea"
        rows="4"
        formControlName="note"
        id="note"
      ></textarea>
    </div>
  </fieldset>

  <h2>Zusammenfassung</h2>
  Erstattungsbetrag: {{ getTotal() }}€<br />
  <p *ngFor="let warning of getWarnings()"><b>Warnung</b> {{ warning }}</p>
  <p *ngFor="let info of getInfos()"><b>Info</b> {{ info }}</p>

  <div *ngIf="anyTrainTravel">
    <h2>Belege für Zugfahrten</h2>
    <ngx-file-drop
      (onFileDrop)="fileDropped($event)"
      [accept]="'.pdf,.jpg,.png,.jpeg,.JPG,.JPEG,.PDF,.PNG'"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <button type="button" class="fileupload" (click)="openFileSelector()">
          <span class="material-symbols-outlined">&#xe9fc;</span>
          Beleg hinzufügen
        </button>
      </ng-template>
    </ngx-file-drop>

    <fieldset *ngIf="files.length" class="files-list">
      <legend style="color: #999">Belege</legend>
      <p class="file-list-entry" *ngFor="let file of files">
        <span
          style="cursor: pointer"
          class="material-symbols-outlined"
          (click)="removeFile(file.name)"
          >&#xe872;</span
        >{{ file.name }}
      </p>
    </fieldset>
  </div>
</div>

<div class="button-container">
  <div class="left-button-container">
    <button (click)="back()" class="gray-button">Zurück</button>
  </div>
  <div class="right-button-container">
    <app-progress-indicator *ngIf="loading"></app-progress-indicator>
    <button
      (click)="continue()"
      *ngIf="!loading"
      [class.green-button]="travelExpensesForm.valid"
      [class.disabled-button]="travelExpensesForm.invalid"
      [disabled]="travelExpensesForm.invalid"
    >
      PDF herunterladen
    </button>
  </div>
</div>

<div style="position: absolute; top: 2000px">
  <app-pdf-view
    *ngIf="showPdf"
    [reimbursement]="reimbursement"
    (fullyRendered)="pdfFullyRendered()"
  ></app-pdf-view>
</div>
