<app-form-card prevStep="auslagen">
  <div class="form-group">
    <label for="note">Bemerkung zu deiner Abrechnung</label>
    <textarea
      class="form-control textarea"
      rows="4"
      formControlName="note"
      id="note"
    ></textarea>
  </div>

  <h2>Zusammenfassung</h2>
  Erstattungsbetrag: {{ getTotal() }}€<br />
  <p *ngFor="let warning of getWarnings()"><b>Warnung</b> {{ warning }}</p>
  <p *ngFor="let info of getInfos()"><b>Info</b> {{ info }}</p>

  <div *ngIf="anyTrainTravel">
    <h2>Belege für Zugfahrten</h2>
    <ngx-file-drop
      (onFileDrop)="fileDropped($event)"
      [accept]="'.pdf,.jpg,.png,.jpeg,.JPG,.JPEG,.PDF,.PNG'"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <button class="fileupload" (click)="openFileSelector()">
          <span class="material-symbols-outlined">&#xe9fc;</span>
          Beleg hinzufügen
        </button>
      </ng-template>
    </ngx-file-drop>

    <fieldset *ngIf="files.length" class="files-list">
      <legend style="color: #999">Belege</legend>
      <p class="file-list-entry" *ngFor="let file of files">
        <span
          style="cursor: pointer"
          class="material-symbols-outlined"
          (click)="removeFile(file.name)"
          >&#xe872;</span
        >{{ file.name }}
      </p>
    </fieldset>
  </div>
  <button
    submitButton
    type="submit"
    [disabled]="loading || form.parent?.invalid"
    (click)="onSubmit()"
  >
    <app-progress-indicator *ngIf="loading"></app-progress-indicator>
    <span *ngIf="!loading">PDF HERUNTERLADEN</span>
  </button>
</app-form-card>

<div style="position: absolute; top: 2000px">
  <app-pdf-view
    *ngIf="showPdf"
    [reimbursement]="reimbursement"
    (fullyRendered)="pdfFullyRendered()"
  ></app-pdf-view>
</div>
