  
  .dialog-content {
  padding: 20px;
  max-height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .dialog-content h2 {
    color: #333;
  }
  
  .dialog-content p {
    margin-bottom: 10px;
  }
  
  .dialog-content a {
    color: #007bff;
    text-decoration: none;
  }