<div class="card">
  <table>
    <tr>
      <td class="tleft">
        von <b>{{ origin }}</b>
      </td>
      <td class="tmid">{{ this.getTitle() }}</td>
      <th class="tright">{{ getAmount() }} €</th>
    </tr>
    <tr>
      <td class="tleft">
        nach <b>{{ destination }}</b>
      </td>
      <td class="tmid">{{ this.getDetails() }}</td>
      <td class="tright">
        <span
          style="cursor: pointer"
          (click)="editMe()"
          class="material-symbols-outlined"
          >&#xe3c9;</span
        >
        <span
          style="cursor: pointer"
          (click)="deleteMe()"
          class="material-symbols-outlined"
          >&#xe872;</span
        >
      </td>
    </tr>
  </table>
</div>
