<div class="card">
  <table>
    <tr>
      <td class="tleft">
        von <b>{{ expense.origin }}</b>
      </td>
      <td class="tmid">{{ expense.type | expenseType }}</td>
      <th class="tright">{{ expense | expenseAmount | currency }}</th>
    </tr>
    <tr>
      <td class="tleft">
        nach <b>{{ expense.destination }}</b>
      </td>
      <td class="tmid">
        <app-expense-details [expense]="expense" />
      </td>

      <td class="tright">
        <span
          style="cursor: pointer"
          (click)="editMe()"
          class="material-symbols-outlined"
          >&#xe3c9;</span
        >
        <span
          style="cursor: pointer"
          (click)="deleteMe()"
          class="material-symbols-outlined"
          >&#xe872;</span
        >
      </td>
    </tr>
  </table>
</div>
