<form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
  <div class="step-box">
    <h1>Angaben zu Dir</h1>
    <p style="font-size: small">
      <a routerLink="/datenschutz">Hier</a> findest Du Informationen darüber,
      wie diese Anwendung deine persönlichen Daten verarbeitet. Mit Benutzung
      des Formulars, erklärst Du Dich damit einverstanden.
    </p>
    <div class="form-group">
      <label for="name">Vorname und Nachname</label>
      <input
        (change)="saveData()"
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('name')?.hasError('required') &&
          personalInfoForm.get('name')?.touched
        "
        class="error-message"
      >
        Bitte gib deinen Namen ein.
      </div>
    </div>

    <div class="form-group">
      <label for="street">Straße und Hausnummer</label>
      <input
        (change)="saveData()"
        type="text"
        id="street"
        formControlName="street"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('street')?.hasError('required') &&
          personalInfoForm.get('street')?.touched
        "
        class="error-message"
      >
        Bitte gib Straße und Hausnummer ein.
      </div>
    </div>

    <div class="form-group">
      <label for="zipCode">PLZ</label>
      <input
        type="text"
        id="zipCode"
        (change)="plzChanged()"
        formControlName="zipCode"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('zipCode')?.hasError('pattern') &&
          personalInfoForm.get('zipCode')?.touched
        "
        class="error-message"
      >
        Bitte gib deine Postleitzahl ein.
      </div>
    </div>

    <div class="form-group">
      <label for="city">PLZ und Wohnort</label>
      <input
        (change)="saveData()"
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('city')?.hasError('required') &&
          personalInfoForm.get('city')?.touched
        "
        class="error-message"
      >
        Bitte gib deinen Wohnort ein.
      </div>
    </div>

    <h1>Angaben zum Kurs</h1>
    <div class="form-group">
      <label for="courseName">Schulungsname</label>
      <input
        (change)="saveData()"
        type="text"
        id="courseName"
        formControlName="courseName"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('courseName')?.hasError('required') &&
          personalInfoForm.get('courseName')?.touched
        "
        class="error-message"
      >
        Bitte gib den Schulungsnamen ein.
      </div>
    </div>
    <div class="form-group">
      <label for="course">Schulungsnummer</label>
      <input
        (change)="saveData()"
        type="text"
        id="course"
        formControlName="course"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('course')?.hasError('required') &&
          personalInfoForm.get('course')?.touched
        "
        class="error-message"
      >
        Bitte gib die Schulungsnummer ein.
      </div>
    </div>
    <div class="form-group">
      <label for="courseDate">Schulungsdatum</label>
      <input
        (change)="saveData()"
        type="text"
        id="courseDate"
        formControlName="courseDate"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('courseDate')?.hasError('required') &&
          personalInfoForm.get('courseDate')?.touched
        "
        class="error-message"
      >
        Bitte gib das Schulungsdatum ein.
      </div>
    </div>
    <div class="form-group">
      <label for="courseLocation">Schulungsort</label>
      <input
        (change)="saveData()"
        type="text"
        id="courseLocation"
        formControlName="courseLocation"
        class="form-control"
        required
      />
      <div
        *ngIf="
          personalInfoForm.get('courseLocation')?.hasError('required') &&
          personalInfoForm.get('courseLocation')?.touched
        "
        class="error-message"
      >
        Bitte gib den Schulungsort ein.
      </div>
    </div>
  </div>

  <div class="button-container">
    <div class="right-button-container">
      <input
        type="submit"
        [class.green-button]="personalInfoForm.valid"
        [class.disabled-button]="!personalInfoForm.valid"
        value="Weiter"
      />
    </div>
  </div>
</form>
