<div class="step-box">
  <fieldset [formGroup]="participantForm">
    <h1>Angaben zu Dir</h1>

    <p style="font-size: small">
      <a routerLink="/datenschutz">Hier</a> findest Du Informationen darüber,
      wie diese Anwendung deine persönlichen Daten verarbeitet. Mit Benutzung
      des Formulars, erklärst Du Dich damit einverstanden.
    </p>

    <div class="form-group">
      <label for="givenName">Vorname</label>
      <input
        type="text"
        id="givenName"
        formControlName="givenName"
        class="form-control"
        required
      />
      <div
        *ngIf="givenName.hasError('required') && givenName.touched"
        class="error-message"
      >
        Bitte gib deinen Vornamen ein.
      </div>
    </div>

    <div class="form-group">
      <label for="surname">Nachname</label>
      <input
        type="text"
        id="surname"
        formControlName="surname"
        class="form-control"
        required
      />
      <div
        *ngIf="surname.hasError('required') && surname.touched"
        class="error-message"
      >
        Bitte gib deinen Nachnamen ein.
      </div>
    </div>

    <div class="form-group">
      <label for="section">Sektion</label>
      <ng-select
        id="section"
        class="combo-box"
        formControlName="sectionId"
        required
        [items]="sections"
        bindValue="id"
        bindLabel="name"
        [groupBy]="groupByFn"
        [editableSearchTerm]="true"
        [inputAttrs]="{ style: 'margin-top: 4px' }"
        (change)="sectionChanged()"
      />
      <div
        *ngIf="sectionId.hasError('required') && sectionId.touched"
        class="error-message"
      >
        Bitte gib deine Sektion ein.
      </div>
    </div>

    <div class="form-group">
      <label for="zipCode">PLZ</label>
      <input
        type="text"
        id="zipCode"
        (change)="plzChanged()"
        formControlName="zipCode"
        class="form-control"
        required
      />
      <div
        *ngIf="zipCode.hasError('required') && zipCode.touched"
        class="error-message"
      >
        Bitte gib deine Postleitzahl ein.
      </div>
      <div
        *ngIf="zipCode.hasError('pattern') && zipCode.touched"
        class="error-message"
      >
        Bitte gib eine gültige Postleitzahl ein.
      </div>
    </div>

    <div class="form-group">
      <label for="city">Wohnort</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        required
      />
      <div
        *ngIf="city.hasError('required') && city.touched"
        class="error-message"
      >
        Bitte gib deinen Wohnort ein.
      </div>
    </div>
  </fieldset>

  <fieldset [formGroup]="courseForm">
    <h1>Angaben zum Kurs</h1>

    <div class="form-group">
      <label for="courseName">Kursname</label>
      <input
        type="text"
        id="courseName"
        formControlName="name"
        class="form-control"
        required
      />
      <div
        *ngIf="courseName.hasError('required') && courseName.touched"
        class="error-message"
      >
        Bitte gib den Kursnamen ein.
      </div>
    </div>

    <div class="form-group">
      <label for="courseCode">Kursnummer</label>
      <input
        type="text"
        id="courseCode"
        formControlName="code"
        class="form-control"
        required
      />
      <div
        *ngIf="courseCode.hasError('required') && courseCode.touched"
        class="error-message"
      >
        Bitte gib die Kursnummer ein.
      </div>
      <div
        *ngIf="courseCode.hasError('unknownCourse') && courseCode.touched"
        class="error-message"
      >
        <p>Bitte gib eine gültige Kursnummer an.</p>
        <p>
          Kursnummern der JDAV Bayern haben das Format BXXXGA, BXXXFB oder
          BXXXAM mit einer dreistelligen Zahl. Bitte stelle sicher, dass du
          einen Kurs der JDAV Bayern besucht hast.
        </p>
      </div>
      <div *ngIf="courseCode.hasError('federalCourse')" class="error-message">
        Diese Kursnummer (JXXX) sieht nach einem Kurs des Bundesverbands aus.
        Diese können nicht über dieses Formular abgerechnet werden.
      </div>
    </div>
  </fieldset>
</div>

<div class="button-container">
  <div class="right-button-container">
    <button
      [class.green-button]="participantForm.valid && courseForm.valid"
      [class.disabled-button]="participantForm.invalid || courseForm.invalid"
      [disabled]="participantForm.invalid || courseForm.invalid"
      (click)="next()"
    >
      Weiter
    </button>
  </div>
</div>
