.model-content {
  padding: 20px;
}

h2 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.checkbox label {
  display: inline;
  font-weight: normal;
  margin: 0;
}
