<div class="container">
  <div class="branding">
    <a routerLink="/">
      <img
        class="logo"
        src="logo-jdav-bayern-light-white.svg"
        alt="JDAV Bayern"
      />
    </a>
    <p class="contact-info">
      Preysingstr. 71, 81667 München<br />
      <a href="mailto:lgs@jdav-bayern.de">lgs&#64;jdav-bayern.de</a><br />
      +49 89 44900195
    </p>
  </div>
  <nav>
    <ul class="footer-links">
      <li>
        <a href="https://jdav-bayern.de" target="_blank" rel="noopener">
          Homepage
        </a>
      </li>
      <li>
        <a [href]="schulungenUrl" target="_blank" rel="noopener">
          Schulungen
        </a>
      </li>
      <li>
        <a
          href="https://jdav-bayern.de/impressum-und-datenschutz/impressum/"
          target="_blank"
          rel="noopener"
        >
          Impressum
        </a>
      </li>
      <li><a routerLink="/datenschutz">Datenschutz</a></li>
      <li>
        <ul class="footer-icons">
          <li>
            <a
              href="https://instagram.com/jdavbayern"
              target="_blank"
              rel="noopener"
            >
              <img src="social-instagram-white.svg" alt="Instagram" />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung"
              target="_blank"
              rel="noopener"
            >
              <img src="social-github-white.svg" alt="GitHub" />
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
