:host {
  background-color: var(--color-footer);
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.branding {
  text-align: center;
}

.logo {
  width: 150px;
}

.contact-info {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 3rem;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-icons img {
  display: block;
}

@media (min-width: 640px) {
  .footer-links {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .branding {
    text-align: left;
  }
}
