<div class="card">
  @let exp = expense();
  <table>
    <tr>
      <td class="tleft">
        @if (exp.type === 'transport') {
          von <b>{{ exp.origin }}</b>
        } @else {
          <b>{{ exp.date | date }}</b>
        }
      </td>
      <td class="tmid">{{ exp | expenseTitle }}</td>
      <th class="tright">{{ exp | expenseAmount | currency }}</th>
    </tr>
    <tr>
      <td class="tleft">
        @if (exp.type === 'transport') {
          nach <b>{{ exp.destination }}</b>
        }
      </td>
      <td class="tmid">
        <app-expense-details [expense]="exp" />
      </td>

      <td class="tright">
        <button jdavButton type="button" variant="ghost" (click)="editMe()">
          <span class="material-symbols-outlined">edit</span>
        </button>
        <button jdavButton type="button" variant="ghost" (click)="deleteMe()">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </td>
    </tr>
  </table>
</div>
