:host {
  display: block;
  cursor: grab;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 3px;
}

.tleft {
  width: 30%;
  text-align: left;
}

.tmid {
  width: 50%;
}

.tright {
  width: 20%;
  text-align: right;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
