<div class="line-wrapper">
  <table>
    <tr>
      <th class="index">{{ index + 1 }}</th>
      <td style="vertical-align: bottom; width: 445px">
        <table>
          <tr>
            <td class="location">
              <b>{{ expense.origin }}</b> nach
            </td>
            <th class="title">
              {{ getTitle() }}
            </th>
            <td class="amount">{{ getCosts() }} €</td>
          </tr>
          <tr>
            <td class="location">
              <b>{{ expense.destination }}</b>
            </td>
            <td colspan="2" class="details">
              {{ getDetails() }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<hr />
