.drop-area {
  min-height: 20px;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drop-list {
  min-height: 100px;
}

.cdk-drop-list-receiving:empty {
  border: 2px dashed #ccc;
}
.add-button {
  display: flex;
  justify-self: center;
  align-items: center;
}


.add-button#span {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0;
}

.extra-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.heading {
  display: flex; align-items: center
}
