.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drop-list {
  min-height: 100px;
}

.cdk-drop-list-receiving:empty {
  border: 2px dashed #ccc;
}

.heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
