<fieldset [formGroup]="formGroup">
  <h3 class="heading">
    {{ heading }}
    <button
      *ngIf="extraButton"
      (click)="onClickExtraButton($event)"
      class="mar extra-button"
    >
      <span
        style="margin-right: 10px; font-size: 11px"
        class="material-symbols-outlined"
      >
        swap_horiz
      </span>
      {{ extraButton }}
    </button>
  </h3>
  <div
    [formArrayName]="direction"
    cdkDropList
    [cdkDropListData]="formArray"
    [cdkDropListEnterPredicate]="enterPredicate"
  >
    <!--
      @angular/cdk/drag-drop applies a transform style to list elements in
      order to preview sorting while dragging.
      For some reason, this style has no effect when directly applied to the
      child component, so the expense component has to be wrapped in a div.
    -->
    <div
      *ngFor="let expenseForm of formArray.controls; index as i"
      cdkDrag
      [cdkDragData]="expenseForm"
      (cdkDragDropped)="drop($event)"
    >
      <app-expense-list-row
        [form]="expenseForm"
        [index]="i"
        (deleteRow)="deleteExpense($event)"
      />
    </div>
  </div>
  <button (click)="openAddExpenseDialog()" class="add-button">
    <span
      style="margin-right: 10px; font-size: 11px"
      class="material-symbols-outlined"
    >
      add
    </span>
    Auslage hinzufügen
  </button>

  <div *ngIf="formArray.hasError('maxPlanExpenses')" class="error-message">
    Du kannst pro Fahrtrichtung maximal eine Auslage für Abo Tickets angeben.
  </div>
</fieldset>
