<div class="container">
    <h1>Impressum</h1>
    <p>
        Dieses Impressum gilt für die Seite <a href="https://jdav-bayern.github.io/">https://jdav-bayern.github.io/</a>.<br>
        Siehe auch <a href="https://jdav-bayern.de/impressum-und-datenschutz/impressum/">jdav-bayern.de/impressum-und-datenschutz/impressum/</a>
    </p>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Jugend des Deutschen Alpenvereins, Landesgeschäftsstelle Bayern e.V.<br>
        Preysingstr. 71<br>
        81667 München
    </p>
    <h3>Vertretungsberechtigter Vorstand</h3>
    <p>
        Uli Höning<br>
        Katharina Mayer<br>
        Maximilian Leser<br>
        Simon Langebrake
    </p>
    <h3>Kontakt</h3>
    <p>
        Telefon: 089 44900195<br>
        Fax: 089 44900199<br>
        E-Mail: lgs@jdav-bayern.de
    </p>
    <h3>Eintragung im Vereinsregister</h3>
    <p>
        Registergericht: Amtsgerichtes München<br>
        Registernummer: VR 12319
    </p>
    <h2>Haftungshinweis</h2>
    <h3>Allgemein</h3>
    <p>
        Es wurde alle Sorgfalt aufgewendet, die Richtigkeit der Angaben auf diesen Internetseiten sicher zu stellen.
        Eventuelle Fehler sind dennoch nicht auszuschließen. Für entsprechende Hinweise sind wir Ihnen dankbar.
    </p>
    <h3>Verwendete Hyperlinks</h3>
    <p>
        Die Jugend des Deutschen Alpenvereins, Landesgeschäftsstelle Bayern e.V. (JDAV Bayern) bietet Links zu anderen
        Seiten im Internet, bei denen keinerlei Einfluss auf Gestaltungund Inhalt der verlinkten Seiten besteht.
        Deshalb distanziert sich die JDAV Bayern ausdrücklich von sämtlichen Inhalten aller verlinkten Seiten und macht
        sich deren Inhalte nicht zu eigen. Diese Erklärung gilt für alle in der Website verwendeten Links und für alle
        Inhalte der Seiten.
    </p>
    <h3>Haftungsausschluss</h3>
    <p>
        Alle enthaltenen Informationen wurden mit größtmöglicher Sorgfalt kontrolliert. Die JDAV Bayern kann trotzdem
        nicht für Schäden haftbar gemacht werden, die im Zusammenhang mit der Verwendung dieser Inhalte entstehen könnten.
        Für die Richtigkeit und Vollständigkeit der durch Hyperlinks/ "Links" vermittelten sowie der Informationen auf
        dieser Website wird keine Gewähr übernommen.
    </p>
    <h2>Programmierung</h2>
    <p>
        Die eingesetzte Software ist eine Eigenentwicklung basierend auf <a href="https://angular.io/">Angular</a>
        und ist auf <a href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung/blob/master/LICENSE">GitHub</a>
        unter der <a href="https://github.com/JDAV-Bayern/fahrtkostenabrechnung/blob/master/LICENSE">MIT-Lizenz</a>
        verfügbar. Wir freuen uns über Beiträge.</p>
</div>
