<div class="container">
    <h1>Impressum</h1>
    <p>imprint works!</p>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Jugend des Deutschen Alpenvereins, Landesgeschäftsstelle Bayern e.V.<br>
        Preysingstr. 71<br>
        81667 München
    </p>
    <p>
        Eingetragen im Vereinsregister des Amtsgerichtes München: VR 12319
    </p>
    <h2>Vertretungsberechtigter Vorstand</h2>
    <p>
        Uli Höning<br>
        Katharina Mayer<br>
        Maximilian Leser<br>
        Simon Langebrake
    </p>
    <h2>Kontakt</h2>
    <p>
        Telefon: 089 44900195<br>
        Fax: 089 44900199<br>
        E-Mail: lgs@jdav-bayern.de
    </p>
</div>
