<form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
  <div class="step-content">
    <div class="step-box">
      <h1>Angaben zu Dir</h1>
      <p style="font-size: small">
        <a routerLink="/datenschutz">Hier</a> findest Du Informationen darüber,
        wie diese Anwendung deine persönlichen Daten verarbeitet. Mit Benutzung
        des Formulars, erklärst Du Dich damit einverstanden.
      </p>
      <div class="form-group">
        <label for="name">Vorname</label>
        <input
          (change)="saveData()"
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('name')?.hasError('required') &&
            personalInfoForm.get('name')?.touched
          "
          class="error-message"
        >
          Bitte gib deinen Vornamen ein.
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Nachname</label>
        <input
          (change)="saveData()"
          type="text"
          id="surname"
          formControlName="surname"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('surname')?.hasError('required') &&
            personalInfoForm.get('surname')?.touched
          "
          class="error-message"
        >
          Bitte gib deinen Nachnamen.
        </div>
      </div>

      <div class="form-group">
        <label for="zipCode">PLZ</label>
        <input
          type="text"
          id="zipCode"
          (change)="plzChanged()"
          formControlName="zipCode"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('zipCode')?.hasError('pattern') &&
            personalInfoForm.get('zipCode')?.touched
          "
          class="error-message"
        >
          Bitte gib deine Postleitzahl ein.
        </div>
      </div>

      <div class="form-group">
        <label for="city">PLZ und Wohnort</label>
        <input
          (change)="saveData()"
          type="text"
          id="city"
          formControlName="city"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('city')?.hasError('required') &&
            personalInfoForm.get('city')?.touched
          "
          class="error-message"
        >
          Bitte gib deinen Wohnort ein.
        </div>
      </div>

      <h1>Angaben zum Kurs</h1>
      <div class="form-group">
        <label for="courseName">Kursname</label>
        <input
          (change)="saveData()"
          type="text"
          id="courseName"
          formControlName="courseName"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('courseName')?.hasError('required') &&
            personalInfoForm.get('courseName')?.touched
          "
          class="error-message"
        >
          Bitte gib den Kursnamen ein.
        </div>
      </div>
      <div class="form-group">
        <label for="course">Kursnummer</label>
        <input
          (change)="saveData()"
          type="text"
          id="course"
          formControlName="course"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('course')?.hasError('required') &&
            personalInfoForm.get('course')?.touched
          "
          class="error-message"
        >
          Bitte gib die Kursnummer ein.
        </div>
        <div
          *ngIf="
            personalInfoForm.get('course')?.hasError('pattern') &&
            personalInfoForm.get('course')?.touched
          "
          class="error-message"
        >
            Diese Kursnummer sieht falsch aus. Kursnummern von Kursen der JDAV Bayern folgen dem Format BXXXFB oder BXXXAM. Bitte überprüfe die Kursnummer noch einmal und stelle sicher, dass Du einen Kurs der JDAV Bayern besucht hast und nicht einen eines anderen Landesverbandes oder dem Bundesverband.
        </div>
      </div>
      <div class="form-group">
        <label for="courseDate">Kursdatum</label>
        <input
          (change)="saveData()"
          type="text"
          id="courseDate"
          formControlName="courseDate"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('courseDate')?.hasError('required') &&
            personalInfoForm.get('courseDate')?.touched
          "
          class="error-message"
        >
          Bitte gib das Kursdatum ein.
        </div>
      </div>
      <div class="form-group">
        <label for="courseLocation">Kursort</label>
        <input
          (change)="saveData()"
          type="text"
          id="courseLocation"
          formControlName="courseLocation"
          class="form-control"
          required
        />
        <div
          *ngIf="
            personalInfoForm.get('courseLocation')?.hasError('required') &&
            personalInfoForm.get('courseLocation')?.touched
          "
          class="error-message"
        >
          Bitte gib den Kursort ein.
        </div>
      </div>
    </div>

    <div class="button-container">
      <div class="right-button-container">
        <input
          type="submit"
          [class.green-button]="personalInfoForm.valid"
          [class.disabled-button]="!personalInfoForm.valid"
          value="Weiter"
        />
      </div>
    </div>
  </div>
</form>
