#pdf-container {
  width: 595px;
  box-sizing: border-box;
  height: fit-content;
  overflow: none;
  position: relative;
  padding: 57px;
  text-align: left;
  font-family: Helvetica;
  font-size: 6pt;
}

#pdf-container h1 {
  text-align: left;
  font-family: Helvetica;
  font-size: 11pt;
}

#pdf-container h2 {
  text-align: left;
  font-family: Helvetica;
  font-size: 8pt;
  margin-bottom: 0;
}

#pdf-container .logo {
  position: absolute;
  border: 0;
  top: 57px;
  right: 57px;
  height: 85px;
  width: 164px;
}

.table-title {
  font-size: 8pt;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
  padding-top: 15px;
}

.sum {
  text-align: right;
  float: right;
}

.detailstable td {
  padding: 2px;
}
