<div id="pdf-container">
  <h1>Fahrtkostenabrechnung</h1>
  <p>
    <b>Datum: {{ getDate() }}</b>
  </p>
  <img class="logo" src="data:image/png;base64,{{ getLogo() }}" />
  <p style="width: 312px">
    Diese Fahrtkostenabrechnung wurde automatisch erstellt. Bitte die generierte
    PDF per E-Mail an lgs&#64;jdav-bayern.de oder ausgedruckt in die
    Landesgeschäftsstelle, Preysingstr. 71, 81667 München schicken.
  </p>
  <table style="width: 100%">
    <tr>
      <td style="width: 50%">
        <h2>Schulungsdaten</h2>
        <table class="detailstable">
          <tr>
            <td>Schulung:</td>
            <td>{{ course.name }}</td>
          </tr>
          <tr>
            <td>Schulungsnummer:</td>
            <td>{{ course.code }}</td>
          </tr>
          <tr>
            <td>Schulungsdatum:</td>
            <td>{{ course.date }}</td>
          </tr>
          <tr>
            <td>Kursort:</td>
            <td>{{ course.location }}</td>
          </tr>
        </table>
      </td>
      <td style="width: 50%">
        <h2>Teilnehmer*innendaten</h2>
        <table>
          <tr>
            <td>Name:</td>
            <td>{{ participant.name }}</td>
          </tr>
          <tr>
            <td>Anschrift:</td>
            <td>
              {{ participant.street }},
              {{ participant.zipCode }}
              {{ participant.city }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              {{
                participant.isBavaria
                  ? 'Teilnehmer*in kommt aus Bayern'
                  : 'Teilnehmer*in kommt nicht aus Bayern'
              }}
            </td>
          </tr>
          <tr>
            <td>IBAN:</td>
            <td>{{ participant.iban }}</td>
          </tr>
          <tr *ngIf="participant.bic?.length">
            <td>BIC:</td>
            <td>{{ participant.bic }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p *ngIf="reimbursement.note !== ''"><b>Bemerkung:</b></p>
  <p *ngFor="let line of reimbursement.note.split('\n')">{{ line }}</p>
  <div class="table-title">
    <span>Abrechnungspositionen</span>
    <span class="sum">Summe: {{ getTotal() }}€</span><br />
  </div>
  <hr />
  <h3>Hinfahrt</h3>
  <app-pdf-expense-line-item
    *ngFor="let expense of reimbursement.expenses.inbound; index as i"
    [expense]="expense"
    [index]="i"
  ></app-pdf-expense-line-item>
  <h3>Vor Ort</h3>
  <app-pdf-expense-line-item
    *ngFor="let expense of reimbursement.expenses.onsite; index as i"
    [expense]="expense"
    [index]="i"
  ></app-pdf-expense-line-item>
  <h3>Rückfahrt</h3>
  <app-pdf-expense-line-item
    *ngFor="let expense of reimbursement.expenses.outbound; index as i"
    [expense]="expense"
    [index]="i"
  ></app-pdf-expense-line-item>
</div>
