.subtotal {
  margin-top: 1rem;
  font-weight: bold;
  text-align: right;
}

.subtotal span {
  margin: 0 8px;
  border-top: 3px double var(--color-body);
  padding: 4px 8px 0px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
