<app-form-card
  prevStep="auslagen"
  nextStep="zusammenfassung"
  [nextDisabled]="
    parentForm.invalid ||
    rootForm.hasError('foodExpenseDate') ||
    rootForm.hasError('foodExpenseAbsence')
  "
>
  <fieldset [formGroup]="parentForm">
    @if (foodOptions.length !== 0 || foodForm.length !== 0) {
      <div>
        <app-expense-list
          expenseType="food"
          [form]="foodForm"
          formArrayName="food"
          [openDialog]="getOpenFoodDialogFn()"
        >
          <div class="heading">
            <h2>Tagegelder</h2>
            <button class="jdav-btn icon" (click)="completeFood()">
              <span class="material-symbols-outlined">restaurant</span>
              Tagegelder abrechnen
            </button>
          </div>
        </app-expense-list>
        <p class="subtotal">
          Summe:
          <span>{{ report.categories.food | currency }}</span>
        </p>
        @if (foodForm.hasError('foodExpenseUnique')) {
          <div class="error-message">
            Bitte gib nur eine Auslage für den
            {{ rootForm.getError('foodExpenseUnique').date | date }} an.
          </div>
        }
        @if (foodForm.hasError('foodExpenseWorkDay')) {
          <div class="error-message">
            Bitte gib bei Reisen ohne Übernachtung nur für den Tag mit längerer
            Abwesenheit eine Auslage an.
          </div>
        }
        @if (rootForm.hasError('foodExpenseDate')) {
          <div class="error-message">
            Die Auslage für den
            {{ rootForm.getError('foodExpenseDate').date | date }} liegt
            außerhalb deines Reisezeitraums.
          </div>
        }
        @if (rootForm.hasError('foodExpenseAbsence')) {
          <div class="error-message">
            Die Abwesenheitsdauer für den
            {{ rootForm.getError('foodExpenseAbsence').date | date }} stimmt
            nicht mit deinem Reisezeitraum überein.
          </div>
        }
      </div>
    }

    <div>
      <app-expense-list
        expenseType="material"
        [form]="materialForm"
        formArrayName="material"
        [openDialog]="getOpenMaterialDialogFn()"
      >
        <h2>Sonstige Auslagen</h2>
      </app-expense-list>
      <p class="subtotal">
        Summe:
        <span>{{ report.categories.material | currency }}</span>
      </p>
    </div>

    @if (parentForm.hasError('anyRequired')) {
      <div class="error-message">Bitte gib mindestens eine Auslage an.</div>
    }
  </fieldset>
</app-form-card>
