<app-form-card
  prevStep="auslagen"
  nextStep="zusammenfassung"
  [nextDisabled]="parentForm.invalid"
>
  <fieldset [formGroup]="parentForm">
    <app-expense-list
      expenseType="food"
      [form]="foodForm"
      [openDialog]="getOpenFoodDialogFn()"
    >
      <div class="heading">
        <h2>Tagegelder</h2>
        <button class="jdav-btn icon" (click)="completeFood()">
          <span class="material-symbols-outlined">restaurant</span>
          Tagegelder abrechnen
        </button>
      </div>
    </app-expense-list>
    <p class="subtotal">
      Summe:
      <span>{{ report.categories.food | currency }}</span>
    </p>

    <app-expense-list
      expenseType="material"
      [form]="materialForm"
      [openDialog]="getOpenMaterialDialogFn()"
    >
      <h2>Sonstige Auslagen</h2>
    </app-expense-list>
    <p class="subtotal">
      Summe:
      <span>{{ report.categories.material | currency }}</span>
    </p>

    <div *ngIf="parentForm.hasError('anyRequired')" class="error-message">
      Bitte gib mindestens eine Auslage an.
    </div>
  </fieldset>
</app-form-card>
