<div class="container">
  <div class="logo">
    <img id="logo" alt="JDAV Bayern" />
  </div>
  <h1 class="heading">{{ heading }}</h1>
  <div *ngIf="loggedIn" class="user_display">
    <p>Hallo, {{ userName }}</p>
    <button class="jdav-btn tertiary" (click)="logout()">Abmelden</button>
  </div>
  <div *ngIf="!loggedIn">
    <button
      class="jdav-btn tertiary icon delete-data"
      (click)="deleteAllData()"
    >
      <span class="material-symbols-outlined">&#xe872;</span>
      Gespeicherte Daten löschen
    </button>
  </div>
</div>
