:host {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  max-width: 1536px;
  margin: 0 auto;
  padding: 1rem 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem 2rem;
}

.logo {
  width: 130px;
}

.heading {
  margin: 0;
  flex-grow: 1;
  font-size: x-large;
  font-weight: normal;
}

.delete-data {
  font-weight: normal;
}

.user_display {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

@media (min-width: 640px) {
  .container {
    flex-direction: row;
  }
}
