:host {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logo img {
  max-height: 80px;
  max-width: 30vw;
}

.heading {
  font-size: large;
}

.delete-data {
  font-weight: normal;
  font-style: italic;
}

@media (min-width: 640px) {
  .heading {
    font-size: x-large;
  }
}
