header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  flex-basis: content;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
  max-height: 80px;
  max-width: 30vw;
}

.heading {
  font-size: large;
}

.delete-data {
  margin: 0;
  font-weight: normal;
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-style: italic;
}

@media (min-width: 640px) {
  .heading {
    font-size: x-large;
  }
}
