.subtotal {
  margin: 4px 0;
  text-align: right;
}

.subtotal span {
  margin: 0 8px;
  padding: 4px 8px 0px;
}

.subtotal.total {
  margin-top: 12px;
  font-weight: bold;
}

.subtotal.total span {
  border-top: 3px double var(--color-body);
}

.heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
