<fieldset [formGroup]="parentForm">
  <div>
    <div class="flex items-center gap-6">
      <h2 class="typography">Tagegelder</h2>
      @if (foodForm.length > 0) {
        @if (foodForm.disabled) {
          <button
            jdavButton
            type="button"
            (click)="isFoodEnabled.setValue(true)"
          >
            <span class="material-symbols-outlined">restaurant</span>
            Tagegelder abrechnen
          </button>
        } @else {
          <button
            jdavButton
            type="button"
            variant="outline"
            (click)="isFoodEnabled.setValue(false)"
          >
            <span class="material-symbols-outlined">delete</span>
            Tagegelder entfernen
          </button>
        }
      }
    </div>
    @if (foodForm.length === 0) {
      <p class="typography">
        Für diese Reise können keine Tagegelder beantragt werden, da die Dauer
        der Abwesenheit unter 8 Stunden betrug.
      </p>
    } @else if (foodForm.enabled) {
      <p class="typography">
        Bitte wähle aus, welche Mahlzeiten du kostenlos erhalten hast. Die
        angegebene Verpflegungspauschale wird um diese gekürzt.
      </p>
      <fieldset formArrayName="food">
        <div>
          @for (control of foodForm.controls; track control) {
            <app-food-expense-card
              [formControl]="control"
            ></app-food-expense-card>
          }
        </div>
      </fieldset>
      <p class="mt-4 text-right font-bold">
        Summe:
        <span class="mx-2 px-2 pt-1 border-t-3 border-double border-border">{{
          report.categories.food | currency
        }}</span>
      </p>
    }
  </div>

  <div>
    <app-expense-list
      type="material"
      [form]="materialForm"
      formArrayName="material"
    >
      <h2 class="typography">Sonstige Auslagen</h2>
    </app-expense-list>
    <p class="mt-4 text-right font-bold">
      Summe:
      <span class="mx-2 px-2 pt-1 border-t-3 border-double border-border">{{
        report.categories.material | currency
      }}</span>
    </p>
  </div>

  @if (parentForm.hasError('anyRequired')) {
    <div class="error-message">Bitte gib mindestens eine Auslage an.</div>
  }
</fieldset>
