<app-form-card
  prevStep="teilnehmer_in"
  [nextStep]="nextStep"
  [nextDisabled]="form.invalid"
>
  <fieldset [formGroup]="form">
    <h1>Auslagen für Fahrtkosten</h1>
    <p>
      Bitte beachte die richtige Reihenfolge. Du kannst sie per Drag-and-Drop
      anpassen.
    </p>

    <div cdkDropListGroup>
      <app-expense-list
        expenseType="transport"
        [form]="form.controls.inbound"
        [openDialog]="getOpenDialogFn('inbound')"
        [enterPredicate]="getPredicateFn('inbound')"
      >
        <h3>Hinfahrt</h3>
      </app-expense-list>

      <app-expense-list
        expenseType="transport"
        [form]="form.controls.onsite"
        [openDialog]="getOpenDialogFn('onsite')"
        [enterPredicate]="getPredicateFn('onsite')"
      >
        <h3>Vor Ort</h3>
      </app-expense-list>
      <app-expense-list
        expenseType="transport"
        [form]="form.controls.outbound"
        [openDialog]="getOpenDialogFn('outbound')"
        [enterPredicate]="getPredicateFn('outbound')"
      >
        <div class="heading">
          <h3>Rückfahrt</h3>
          <button class="icon" (click)="completeReturnTrip()">
            <span class="material-symbols-outlined">swap_horiz</span>
            Rückfahrt wie Hinfahrt
          </button>
        </div>
      </app-expense-list>
    </div>

    <div *ngIf="form.hasError('anyRequired')" class="error-message margin-top">
      Bitte gib mindestens eine Auslage an.
    </div>

    <p class="subtotal">
      Summe:
      <span>{{ total | currency }}</span>
    </p>
  </fieldset>
</app-form-card>
