<form [formGroup]="form" (ngSubmit)="submitForm()" class="model-content">
  <h2>Auslage erfassen - {{ getDirectionName() }}</h2>

  <div *ngIf="type.invalid" class="means-of-travel-buttons-container">
    <button class="secondary icon" (click)="chooseExpense('car')">
      <span class="material-symbols-outlined">&#xe531;</span>
      Autofahrt
    </button>
    <button class="secondary icon" (click)="chooseExpense('train')">
      <span class="material-symbols-outlined">&#xe570;</span>
      Zugfahrt
    </button>
    <button
      *ngIf="showPlan"
      class="secondary icon"
      (click)="chooseExpense('plan')"
    >
      <span class="material-symbols-outlined">&#xe8f8;</span>
      Öffis Abo
    </button>
    <button
      *ngIf="direction !== 'onsite'"
      class="secondary icon"
      (click)="chooseExpense('bike')"
    >
      <span class="material-symbols-outlined">&#xeb29;</span>
      Fahrrad
    </button>
  </div>

  <div *ngIf="type.valid" class="formcontainer">
    <h3>{{ getExpenseName() }} hinzufügen</h3>

    <div class="form-group">
      <label for="origin">Von</label>
      <input
        type="text"
        id="origin"
        formControlName="origin"
        class="form-control"
        required
      />
      <div
        *ngIf="origin.hasError('required') && origin.touched"
        class="error-message"
      >
        Bitte gib einen Startort ein.
      </div>
    </div>

    <div class="form-group">
      <label for="destination">Nach</label>
      <input
        type="text"
        id="destination"
        formControlName="destination"
        class="form-control"
        required
      />
      <div
        *ngIf="destination.hasError('required') && destination.touched"
        class="error-message"
      >
        Bitte gib einen Zielort ein.
      </div>
    </div>

    <!-- car and bike expenses -->
    <div *ngIf="distance" class="form-group">
      <label for="distance">Strecke (km)</label>
      <input
        type="number"
        class="form-control"
        formControlName="distance"
        id="distance"
        placeholder="Strecke in Kilometern"
      />
      <div
        *ngIf="distance.hasError('required') && distance.touched"
        class="error-message"
      >
        Bitte gib die Distanz ein.
      </div>
      <div *ngIf="distance.hasError('min')" class="error-message">
        Bitte gib eine gültige Distanz ein.
      </div>
    </div>

    <!-- train expenses -->
    <div *ngIf="price" class="form-group">
      <label for="price">Preis <b>nach</b> Rabatten</label>
      <input
        type="number"
        id="price"
        formControlName="price"
        class="form-control"
        required
      />
      <div
        *ngIf="price.hasError('required') && price.touched"
        class="error-message"
      >
        Bitte gib einen Preis ein.
      </div>
      <div *ngIf="price.hasError('min')" class="error-message">
        Bitte gib einen gültigen Preis ein.
      </div>
    </div>

    <!-- train expenses -->
    <div *ngIf="discount" class="form-group">
      <label for="discountCard">BahnCard</label>
      <select
        id="discountCard"
        formControlName="discountCard"
        class="form-control"
        required
      >
        <option value="none">Keine BahnCard</option>
        <option value="BC25">BahnCard 25</option>
        <option value="BC50">BahnCard 50</option>
      </select>
      <div
        *ngIf="discount.hasError('required') && discount.touched"
        class="error-message"
      >
        Bitte wähle deine BahnCard aus.
      </div>
    </div>

    <!-- car expenses -->
    <div *ngIf="carType" class="form-group">
      <label for="carType">Auto Typ</label>
      <select
        id="carType"
        formControlName="carType"
        class="form-control"
        required
      >
        <option value="combustion">Verbrenner</option>
        <option value="plug-in-hybrid">Plug-in Hybrid</option>
        <option value="electric">Elektro</option>
      </select>
      <div
        *ngIf="carType.hasError('required') && carType.touched"
        class="error-message"
      >
        Bitte wähle den Typ deines Autos aus.
      </div>
    </div>

    <div *ngIf="passengers" class="form-group">
      <label for="passengers">Mitfahrer*innen</label>
      <p>
        <b>Hinweis:</b> Bist Du Teile der Strecke mit unterschiedlicher Anzahl
        an Mitfahrer*innen gefahren? Dann gib bitte jede Teilstrecke als
        einzelne Auslage an.
      </p>
      <div
        class="passengers-item"
        formArrayName="passengers"
        *ngFor="let passenger of passengers.controls; let i = index"
      >
        <button class="tertiary icon" (click)="removePassenger(i)">
          <span class="material-symbols-outlined">&#xe872;</span>
        </button>
        <input class="form-control not-filled" formControlName="{{ i }}" />
        <span
          *ngIf="passenger.hasError('required') && passengers.touched"
          class="error-message"
          >Bitte gib einen Namen für deine*n Mitfahrer*in an</span
        >
      </div>
      <button
        class="tertiary icon"
        style="color: var(--color-primary)"
        (click)="addPassenger()"
      >
        <span class="material-symbols-outlined">&#xe145;</span>
        Mitfahrer*in hinzufügen
      </button>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="!form.valid">Speichern</button>
    </div>
  </div>
</form>
