.model-content {
  padding: 20px;
  max-height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model-content .button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.means-of-travel-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.means-of-travel-buttons-container button {
  display: flex;
  margin: 5px;
  border: 2px solid #333;
  color: #333;
  &:hover {
    background-color: #ccc;
  }
  align-items: center;
}

.formcontainer {
  width: 100%;
}
.passengers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.passengers-container input {
  margin-left: 10px;
}
.passengers-container span {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.not-filled {
  width: auto;
}