.model-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-content .button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.means-of-travel-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formcontainer {
  width: 100%;
}

.passengers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.not-filled {
  width: auto;
}
