<fieldset [formGroup]="form">
  <div class="typography">
    <h1>Angaben zu Dir</h1>

    <p class="text-sm">
      <a routerLink="/datenschutz">Hier</a> findest Du Informationen darüber,
      wie diese Anwendung deine persönlichen Daten verarbeitet. Mit Benutzung
      des Formulars, erklärst Du Dich damit einverstanden.
    </p>
  </div>

  <div class="form-group">
    <label for="givenName">Vorname</label>
    <input
      type="text"
      id="givenName"
      formControlName="givenName"
      class="form-control"
      required
    />
    @if (givenName.hasError('required') && givenName.touched) {
      <div class="error-message">Bitte gib deinen Vornamen ein.</div>
    }
  </div>
  <div class="form-group">
    <label for="familyName">Nachname</label>
    <input
      type="text"
      id="familyName"
      formControlName="familyName"
      class="form-control"
      required
    />
    @if (familyName.hasError('required') && familyName.touched) {
      <div class="error-message">Bitte gib deinen Nachnamen ein.</div>
    }
  </div>
  <div class="form-group">
    <label for="section">Sektion</label>
    <input
      #sectionInput
      type="text"
      id="section"
      class="form-control"
      formControlName="sectionId"
      required
      [matAutocomplete]="auto"
      (input)="filter()"
      (focus)="filter()"
    />
    <mat-autocomplete
      requireSelection
      [displayWith]="displayFn()"
      #auto="matAutocomplete"
    >
      @for (state of filteredStates; track state.id) {
        <mat-optgroup [label]="'JDAV ' + state.name">
          @for (section of state.sections; track section.id) {
            <mat-option [value]="section.id">
              {{ section.name }}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-autocomplete>
    @if (sectionId.hasError('required') && sectionId.touched) {
      <div class="error-message">Bitte gib deine Sektion ein.</div>
    }
  </div>

  <h2 class="typography">Wohnort</h2>
  <div class="form-group">
    <label for="zipCode">PLZ</label>
    <input
      type="text"
      id="zipCode"
      (change)="plzChanged()"
      formControlName="zipCode"
      class="form-control"
      required
    />
    @if (zipCode.hasError('required') && zipCode.touched) {
      <div class="error-message">Bitte gib deine Postleitzahl ein.</div>
    }
    @if (zipCode.hasError('pattern') && zipCode.touched) {
      <div class="error-message">Bitte gib eine gültige Postleitzahl ein.</div>
    }
  </div>
  <div class="form-group">
    <label for="city">Ort</label>
    <input
      type="text"
      id="city"
      formControlName="city"
      class="form-control"
      required
    />
    @if (city.hasError('required') && city.touched) {
      <div class="error-message">Bitte gib deinen Wohnort ein.</div>
    }
  </div>

  <h2 class="typography">Kontodaten</h2>
  <div class="form-group">
    <label for="iban">IBAN</label>
    <input
      type="text"
      class="form-control"
      formControlName="iban"
      id="iban"
      (input)="ibanChanged()"
      required
    />
    @if (iban.hasError('required') && iban.touched) {
      <div class="error-message">Bitte gib deine IBAN ein.</div>
    }
    @if (iban.hasError('ibanInvalid') && iban.touched) {
      <div class="error-message">Bitte gib eine gültige IBAN ein.</div>
    }
  </div>
  @if (bic.enabled) {
    <div class="form-group">
      <label for="bic">BIC</label>
      <input
        type="text"
        class="form-control"
        formControlName="bic"
        id="bic"
        onchange="this.value = this.value.toUpperCase()"
        required
      />
      @if (bic.hasError('required') && bic.touched) {
        <div class="error-message">Bitte gib deine BIC ein.</div>
      }
      @if (bic.hasError('pattern') && bic.touched) {
        <div class="error-message">Bitte gib eine gültige BIC ein.</div>
      }
    </div>
  }
</fieldset>
