<app-form-card
  prevStep="teilnehmer_in"
  [nextStep]="nextStep"
  [nextDisabled]="form.invalid"
>
  <fieldset [formGroup]="form">
    <h1>Auslagen für Fahrtkosten</h1>
    <p>
      Bitte beachte die richtige Reihenfolge. Du kannst sie per Drag-and-Drop
      anpassen. Informationen zu den Erstattungssätzen findest du
      <a routerLink="/erstattungssaetze" [queryParams]="queryParams">hier.</a>
    </p>

    <div cdkDropListGroup>
      <app-expense-list
        expenseType="transport"
        [form]="inbound"
        formArrayName="inbound"
        [openDialog]="getOpenDialogFn('inbound')"
        [enterPredicate]="getPredicateFn('inbound')"
      >
        <h3>Hinfahrt</h3>
      </app-expense-list>
      <div
        *ngIf="inbound.hasError('transportModeLimited')"
        class="error-message"
      >
        Du kannst pro Fahrtrichtung maximal eine Auslage für Abotickets angeben.
      </div>

      <app-expense-list
        expenseType="transport"
        [form]="onsite"
        formArrayName="onsite"
        [openDialog]="getOpenDialogFn('onsite')"
        [enterPredicate]="getPredicateFn('onsite')"
      >
        <h3>Vor Ort</h3>
      </app-expense-list>
      <div
        *ngIf="onsite.hasError('transportModesAllowed')"
        class="error-message"
      >
        Vor Ort können keine Fahrradfahrten oder Abotickets abgerechnet werden.
      </div>

      <app-expense-list
        expenseType="transport"
        [form]="form.controls.outbound"
        formArrayName="outbound"
        [openDialog]="getOpenDialogFn('outbound')"
        [enterPredicate]="getPredicateFn('outbound')"
      >
        <div class="heading">
          <h3>Rückfahrt</h3>
          <button class="jdav-btn icon" (click)="completeReturnTrip()">
            <span class="material-symbols-outlined">swap_horiz</span>
            Rückfahrt wie Hinfahrt
          </button>
        </div>
      </app-expense-list>
      <div
        *ngIf="outbound.hasError('transportModeLimited')"
        class="error-message"
      >
        Du kannst pro Fahrtrichtung maximal eine Auslage für Abotickets angeben.
      </div>
    </div>

    <p class="subtotal">
      Summe:
      <span>{{ total | currency }}</span>
    </p>

    <div *ngIf="form.hasError('anyRequired')" class="error-message">
      Bitte gib mindestens eine Auslage an.
    </div>
  </fieldset>
</app-form-card>
