<app-form-card
  prevStep="teilnehmer_in"
  nextStep="zusammenfassung"
  [nextDisabled]="form.invalid"
>
  <fieldset [formGroup]="form">
    <h1>Auslagen für Fahrtkosten</h1>
    <p><b>Summe:</b> {{ getTotal() }}€</p>
    <p>
      Bitte die richtige Reihenfolge beachten und nötigenfalls per Drag-and-Drop
      richtigstellen.
    </p>
    <div cdkDropListGroup>
      <app-expense-list direction="inbound" heading="Hinfahrt" />
      <app-expense-list
        direction="onsite"
        heading="Während dem Kurs"
        [enterPredicate]="onsitePredicate"
      />
      <app-expense-list
        direction="outbound"
        heading="Rückfahrt"
        extraButton="Rückfahrt wie Hinfahrt"
        (clickExtraButton)="completeReturnTrip()"
      />
    </div>

    <div *ngIf="form.hasError('anyRequired')" class="error-message margin-top">
      Bitte gib mindestens eine Auslage an.
    </div>
  </fieldset>
</app-form-card>
