<div class="step-box">
  <fieldset>
    <h1>Auslagen für Fahrtkosten</h1>
    <p><b>Summe:</b> {{ getSum().toFixed(2) }}€</p>
    <p>
      Bitte die richtige Reihenfolge beachten und nötigenfalls per Drag-and-Drop
      richtigstellen.
    </p>
    <app-expense-list direction="to" heading="Hinfahrt" />
    <app-expense-list direction="at" heading="Während der Schulung" />
    <app-expense-list direction="from" heading="Rückfahrt" />
  </fieldset>
</div>

<div class="button-container">
  <div class="left-button-container">
    <button (click)="back()" class="gray-button">Zurück</button>
  </div>
  <div class="right-button-container">
    <button (click)="continue()" class="green-button">Weiter</button>
  </div>
</div>
