<app-form-card
  prevStep="teilnehmer_in"
  nextStep="zusammenfassung"
  [nextDisabled]="form.invalid"
>
  <fieldset [formGroup]="form">
    <h1>Auslagen für Fahrtkosten</h1>
    <p>
      Bitte beachte die richtige Reihenfolge. Du kannst sie per Drag-and-Drop
      anpassen.
    </p>

    <div cdkDropListGroup>
      <app-expense-list direction="inbound" />
      <app-expense-list direction="onsite" [enterPredicate]="onsitePredicate" />
      <app-expense-list
        direction="outbound"
        extraButton="Rückfahrt wie Hinfahrt"
        (clickExtraButton)="completeReturnTrip()"
      />
    </div>

    <div *ngIf="form.hasError('anyRequired')" class="error-message margin-top">
      Bitte gib mindestens eine Auslage an.
    </div>

    <p class="subtotal">
      Summe:
      <span>{{ total | currency }}</span>
    </p>
  </fieldset>
</app-form-card>
