.card {
  background-color: #fff;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
}

.details {
  color: slategray;
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.form-checkbox input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-checkbox:not(:last-child) {
  margin-right: 1rem;
}

legend {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .form-group fieldset {
    display: flex;
    column-gap: 1.5rem;
  }
}
