@use 'tailwindcss';
@use '@angular/material' as mat;
@use 'app/jdav_theme-colors' as jdav;

@import 'survey-core/survey-core.min.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-titillium: 'Titillium Web', sans-serif;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.13 0.028 261.692);
  --color-input: oklch(0.928 0.006 264.531);
  --color-border: oklch(21.863% 0.00389 285.987);
  --color-accent-foreground: oklch(0.21 0.034 264.665);
  --color-accent: oklch(0.967 0.003 264.542);
  --color-primary-foreground: oklch(0.985 0.002 247.839);
  --color-primary: oklch(0.67 0.1817 138.9);
}

/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary-darken: #609e66;
  --color-body: #51565d;
  --bg-gray: #f3f4f6;
}

html {
  @include mat.theme(
    (
      color: (
        primary: jdav.$primary-palette,
        tertiary: jdav.$tertiary-palette,
      ),
    )
  );
}

.typography h1,
h1.typography {
  font-size: 2em;
  margin-block: 0.67em;
  font-weight: bold;
}

.typography h2,
h2.typography {
  font-size: 1.5em;
  margin-block: 0.83em;
  font-weight: bold;
}

.typography h3,
h3.typography {
  font-size: 1.17em;
  margin-block: 1em;
  font-weight: bold;
}

.typography p,
p.typography {
  margin-block: 1em;
}

.typography a {
  color: var(--color-primary);
  transition: color 0.2s;
}

.typography a:hover {
  color: var(--color-primary-darken);
}

.dialog {
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}

.form-group label,
.form-group legend {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.form-checkbox {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.form-checkbox label {
  display: inline;
  font-weight: normal;
}

.form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: inherit;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23999'><polygon points='5,5 15,5 10,12'/></svg>")
    no-repeat right 10px center;
}

.form-control:disabled {
  background-color: var(--bg-gray);
  color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: #b60000;
  font-size: 12px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mat-calendar-body-cell.in-comparison-range {
  background-color: var(--mat-sys-primary-container);
}

.mat-calendar-body-cell.comparison-start {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.mat-calendar-body-cell.comparison-end {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(/fonts/MaterialSymbolsOutlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
