<fieldset [formGroup]="parent">
  <ng-content></ng-content>
  <div
    cdkDropList
    [cdkDropListData]="form"
    [cdkDropListEnterPredicate]="enterPredicate"
  >
    <!-- TODO: readd [formArrayName]="form" -->
    @for (expenseForm of form.controls; track expenseForm) {
      <div cdkDrag [cdkDragData]="expenseForm" (cdkDragDropped)="drop($event)">
        <app-expense-card
          [expense]="getExpense(expenseForm)"
          (editRow)="openExpenseDialog(expenseForm)"
          (deleteRow)="deleteExpense($index)"
        />
      </div>
    }
  </div>
  <button (click)="openExpenseDialog()" class="jdav-btn icon">
    <span class="material-symbols-outlined">add</span>
    Auslage hinzufügen
  </button>
</fieldset>
