<fieldset [formGroup]="parent">
  <ng-content></ng-content>
  <div
    cdkDropList
    [cdkDropListData]="form()"
    [cdkDropListEnterPredicate]="enterPredicate()"
  >
    <!-- TODO: readd [formArrayName]="form" -->
    @for (control of form().controls; track control) {
      <div cdkDrag [cdkDragData]="control" (cdkDragDropped)="drop($event)">
        <app-expense-card
          [expense]="control.value"
          (editRow)="openEditDialog(control)"
          (deleteRow)="deleteExpense($index)"
        />
      </div>
    }
  </div>
  <button type="button" class="jdav-btn icon" (click)="openCreateDialog()">
    <span class="material-symbols-outlined">add</span>
    Auslage hinzufügen
  </button>
</fieldset>
