# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Angular CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run linter
        run: pnpm lint

  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm format:check

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test:ci

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build application
        run: pnpm build

  e2e:
    needs: [lint, check-format, test, build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps
      - name: Run e2e tests
        run: pnpm test:e2e
      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
