<div class='step-content'>
    <div class="step-box" *ngIf="expensesAt && expensesFrom && expensesTo">
        <h1>Auslagen für Fahrtkosten</h1>
        <b>Summe:</b> {{getSum()}}€
        <h3>Auslagen Hinfahrt</h3>
        <button (click)="openAddExpenseDialog('to')" class="add-button green-button mar">Auslage hinzufügen</button>
        <div [dragula]="'expensesTo'" [(dragulaModel)]="expensesTo">
            <app-expense-list-row (deleteRow)="deleteRow($event)" (editRow)="editRow($event)"
                *ngFor="let expense of expensesTo" [expense]="expense"></app-expense-list-row>
        </div>
        <h3>Auslagen Während der Schulung</h3>
        <button (click)="openAddExpenseDialog('at')" class="add-button green-button mar">Auslage hinzufügen</button>
        <div [dragula]="'expensesAt'" [(dragulaModel)]="expensesAt">
            <app-expense-list-row (deleteRow)="deleteRow($event)" (editRow)="editRow($event)"
                *ngFor="let expense of expensesAt" [expense]="expense"></app-expense-list-row>
        </div>
        <h3>Auslagen Rückfahrt</h3>
        <button (click)="openAddExpenseDialog('from')" class="add-button green-button mar">Auslage hinzufügen</button>
        <button (click)="addReturnTrip()" class="add-button green-button mar">Rückfahrt wie
            hinfahrt</button>
        <div [dragula]="'expensesFrom'" [(dragulaModel)]="expensesFrom">
            <app-expense-list-row (deleteRow)="deleteRow($event)" (editRow)="editRow($event)"
                *ngFor="let expense of expensesFrom" [expense]="expense"></app-expense-list-row>
        </div>
    </div>

    <div class="button-container">
        <div class="left-button-container">
            <button (click)="back()" class="gray-button">Zurück</button>
        </div>
        <div class="right-button-container">
            <button (click)="continue()" class="green-button">Weiter</button>
        </div>
    </div>
</div>
<!-- <div>
    {{ expensesTo | json }}
    <br>
    {{ expensesAt | json }}
    <br>
    {{ expensesFrom | json }}
    <br>
</div> -->